@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montessart", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
.testimonial-container {
  background-color: purple;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 90px;
  max-width: 768px;
  position: relative;
}
.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 50px;
}
.fa-quote-right {
  left: 40px;
}
.fa-quote-left {
  right: 40px;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}
.progress-bar {
  background-color: #fff;
  height: 5px;
  width: 100%;
  margin-top: -25px;
  margin-bottom: 25px;
  border-radius: 5px;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}
